<!--<div class="container">
	<br>
	<div class="well text-center">
		<h1>{{ vm.title }}</h1>
		<h3>{{ vm.version }}</h3>
		<p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
		<code>app/modules/home/home.html</code>
		<hr>
    <h1>Features</h1>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in vm.listFeatures">{{item.feature}}</li>
		</ul>
		<p><a href="http://www.github.com/newaeonweb/generator-angm" class="btn btn-primary" role="button">Learn more »</a></p>
	</div>
</div>-->
<div class="main" ng-controller='HomeCtrl'>
	<div id="search">
		<label for="city">City Name</label>
		<input type="text" id="city" ng-model="city">
		<button ng-click="myFunc(city)" type="button">Show Weather!</button>
	</div>

	<div id="load">Loading...</div>
	<div ng-hide="erro" id="weather">
		<h1 id="weatherCity">{{ cityName }}</h1>
		<div id="weatherDescription">{{ weatherDescription | capitalize}}</div>
		<div id="weatherTemperature">{{ weatherTemperature }} ºC</div>
	</div>
	<div ng-if="erro">
		<h1>{{ erro }}</h1>
		<p>Por favor verifique o termo de pesquisa.</p>
	</div>
</div>
