<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/#/">{{ brand }}</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in menus" ng-class="{active:isActive('#/' + item.link)}">
					<a ui-sref="{{ item.link }}">{{ item.name }}</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
